@font-face {
    font-family: authenticSans;
    src: url("./fonts/AUTHENTICSans-90.otf");
}
html {
    font-family: authenticSans;
    letter-spacing: -0.01em;
    line-height: 1.1em;
    font-size: 4em;
    background-color: lightgray;
    display: inline;
    width: 60vw;
}
.expand:hover {
    filter: blur(0.3em);
    color: blue;
}
.starter {
    display: none;
}
.show {
    display: inline;
}
.hide {
    display: none;
}
#huey:hover {
    cursor: grab;
}
.names {
    background-color: yellow;
}

.grass {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.grass:hover {
    cursor: grab;
}
#hueyHide {
    
}
#hueyHappy {
    cursor: grab;
}

#text {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: -10em;
    font-size: 0.5em;
    color: rgb(242, 255, 0);
}
.hueyShow {
    display: block !important;
    position: absolute;
    z-index: 100;
}
.treat{
    cursor: url('./images/treat.png'); 
}